/* Custom Admonition Glow */
.md-typeset .admonition, 
.md-typeset details {
  border-width: 2px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3), 0 0 15px rgba(63, 81, 181, 0.2); /* Soft glow */
  border-left-width: .4rem;
}

/* Specific styling for 'info' boxes */
.md-typeset .admonition.info {
  border-color: #3f51b5; /* Your Indigo primary color */
  box-shadow: 0 0 12px rgba(63, 81, 181, 0.4);
}

/* Specific styling for 'bug' (Troubleshooting) boxes */
.md-typeset .admonition.bug {
  border-color: #ff1744; /* A punk rock red/pink */
  box-shadow: 0 0 12px rgba(255, 23, 68, 0.4);
}

/* Specific styling for 'tip' boxes */
.md-typeset .admonition.tip {
  border-color: #00e676; /* Neon Green */
  box-shadow: 0 0 12px rgba(0, 230, 118, 0.4);
}

.md-content table th:nth-child(1),
.md-content table td:nth-child(1) {
  width: 100px;
  min-width: 100px;
}

.md-content table th:nth-child(2),
.md-content table td:nth-child(2) {
  width: 300px;
  min-width: 300px;
}

.md-content table th:nth-child(3),
.md-content table td:nth-child(3) {
  width: 100px;
  min-width: 100px;
}

.md-content {
  animation: fadeInPage 0.8s ease-in-out;
}

@keyframes fadeInPage {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.md-content table td,
.md-content table th,
.md-content table tr {
  animation: none !important;
  opacity: 1 !important;
  transform: none !important;
}
